/*
    TODO: Add styling to everything for a modern, clean feel.
    TODO: Replace the favicon for something more iconic.
    TODO: Add a new profile picture for a human touch to the website.
*/

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
}

/* Light mode for the website. */
body.light-mode {
    background-color: #ffffff;
}

body.light-mode .nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

body.light-mode .nav .nav-link .nav-link:link .nav-link:visited {
    display: block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    transition: color 0.3s;
}

body.light-mode .nav .nav-link:hover {
    color: #007000;
    text-decoration: none;
}

body.light-mode .nav .nav-link:active {
    color: #006000;
    text-decoration: none;
}

/* Dark mode for the website. */
body.dark-mode {
    background-color: #000000;
}

body.dark-mode .nav {
    background-color: #000000;
}

body.dark-mode .nav .nav-link {
    color: #ffffff;
}